.check {
    background: #fff;
    font-family: monospace;
    max-width: min(600px, 100vw);
    box-sizing: border-box;
    position: relative;
    margin: 16px 0;
    padding: 16px 12px;
}

.check::before,
.check::after {
    content: "";
    background: #fff;
    height: 16px;
    left: 0;
    width: 100%;
    position: absolute;
}

.check-container {
    max-height: 10px;
    overflow: hidden;
    animation: unroll 0.6s ease-in forwards;
}

.check::before {
    top: -16px;
    clip-path: polygon(0% 100%, 3% 0%, 6% 100%, 9% 0%, 12% 100%, 15% 0%, 18% 100%, 21% 0%, 24% 100%, 27% 0%, 30% 100%, 33% 0%, 36% 100%, 39% 0%, 42% 100%, 45% 0%, 48% 100%, 51% 0%, 54% 100%, 57% 0%, 60% 100%, 63% 0%, 66% 100%, 69% 0%, 72% 100%, 75% 0%, 78% 100%, 81% 0%, 84% 100%, 87% 0%, 90% 100%, 93% 0%, 96% 100%, 100% 0%, 100% 100%);
}

.check::after {
    bottom: -16px;
    clip-path: polygon(0% 0%, 3% 100%, 6% 0%, 9% 100%, 12% 0%, 15% 100%, 18% 0%, 21% 100%, 24% 0%, 27% 100%, 30% 0%, 33% 100%, 36% 0%, 39% 100%, 42% 0%, 45% 100%, 48% 0%, 51% 100%, 54% 0%, 57% 100%, 60% 0%, 63% 100%, 66% 0%, 69% 100%, 72% 0%, 75% 100%, 78% 0%, 81% 100%, 84% 0%, 87% 100%, 90% 0%, 93% 100%, 96% 0%, 100% 100%, 100% 0%);
}

@keyframes unroll {
    from {
        max-height: 0;
        box-shadow: 0 20px 10px -4px #000;
    }
    to {
        opacity: 1;
        max-height: 1000px;
    }
}

.price-item {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.price-item-title {
    margin: 0;
    max-width: 90%;
    flex: 1 0 auto;
    min-width: 0;
}

.price-item-separator {
    font-family: 'Times New Roman';
    overflow: hidden;
    white-space: nowrap;
    flex: 0 1 auto;
    min-width: 0.5em;
}

.price-item-price {
    margin: 0;
    white-space: nowrap;
    flex: 0 0 auto;
}