.price-button {
    display: block;
    width: 86px;
    height: 60px;
    line-height: 26px;
    font-family: monospace;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    color: #222;
    background: #fffd;
    transition: height .2s, transform .2s;
    padding: 12px 16px 0 16px;
    position: relative;
    box-shadow: 4px 4px 6px -4px #0008,
        inset 0 -12px 12px -8px #0004;
    transform: rotate(-4deg)
}

.price-button::after {
    content: "";
    display: block;
    background: #fffd;
    width: 100%;
    height: 4px;
    position: absolute;
    top: -4px;
    left: 0;
    clip-path: polygon(0% 100%, 5% 0%, 10% 100%, 15% 0%, 20% 100%, 25% 0%, 30% 100%, 35% 0%, 40% 100%, 45% 0%, 50% 100%, 55% 0%, 60% 100%, 65% 0%, 70% 100%, 75% 0%, 80% 100%, 85% 0%, 90% 100%, 95% 0%, 100% 100%);
}

.price-button:hover {
    height: 80px;
}

.price-button:active {
    height: 100px;
    transform: scale(.9);
}

.price-button > .text {
    overflow: hidden;
    height: 100%;
}