html {
    background: 
        #6CF8FF 
        radial-gradient(
            circle at 0 0, 
            #6CF8FF 0%, 
            #ADFFD7 100%);
    min-height: 100vh;
}

@font-face {
    font-family: "MainFont";
    src: url("/fonts/Gill Sans.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-self: center;
}